<a href="https://colab.research.google.com/github/roitraining/SparkProgram/blob/Day6/Day6/Day6_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys

rootpath = '/home/student/ROI/SparkProgram/'
datapath = f'{rootpath}datasets/'
sys.path.append(rootpath)
import pyspark_helpers as pyh
from pyspark_helpers import *
sc, spark, conf = initspark()

import pandas as pd
import matplotlib as mp
import numpy
from matplotlib import pyplot as plt

initializing pyspark
pyspark initialized

### Using the bank dataset, see if you can find the natural number of clusters.

In [2]:
filename = 'bank.csv'
df = spark.read.csv(f'{datapath}/finance/{filename}', header = True, inferSchema = True)
display(df)
df.printSchema()
dfRaw = df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

### Suggested features are:
numeric: 'age', 'balance','duration','pdays','previous'

categorical_features: 'job','marital','education',      'housing','loan','campaign','deposit'

target_label: None

#### Hint:
Use helper function pyh.MakeMLDataFrame

In [0]:
numeric_features = ['age', 'balance','duration','pdays','previous']
categorical_features = ['job','marital','education','housing','loan','campaign','deposit']
target_label = None

### Make an elbow plot.

**Hint:** 

Use the helper function pyh.plot_elbow

In [0]:
%matplotlib inline

### Do a cluster analysis with the suggested number of clusters.

In [0]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

### See if you can predict someone's age from the dataset.
suggested numeric features: 'balance','duration','pdays','previous'
categorical features: 'job','marital','education','housing',
'loan','campaign','deposit'
target: 'age'

In [0]:
numeric_features = ['balance','duration','pdays','previous']
categorical_features = ['job','marital','education','housing','loan','campaign','deposit']
target_label = 'age'

### Split the dataset.

### Try linear regression.

In [0]:
from pyspark.ml.regression import LinearRegression

### See how well it did some predictions.