Open a terminal window and run the following commands
sudo bash
start-hadoop
cd /home/student/ROI/SparkProgram/Day3
./fixhive.sh

Let's make a simple hive table for regions

In [ ]:
! cat /home/student/ROI/SparkProgram/Day3/regions.hql

In [1]:
import sys
sys.path.append('/home/student/ROI/SparkProgram')
from initspark import *
sc, spark, conf = initspark()

In [2]:
regions = spark.sql('select * from regions')
regions.show()

+--------+----------+
|regionid|regionname|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
+--------+----------+

In [3]:
print(regions)

DataFrame[regionid: int, regionname: string]

In [4]:
territories = spark.read.csv('/home/student/ROI/SparkProgram/datasets/northwind/CSVHeaders/territories', header=True)
territories.show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      03049|       Hollis|       3|
|      03801|   Portsmouth|       3|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19428| Philadelphia|       3|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
+-----------+-------------+--------+
only showing top 20 rows

In [5]:
territories.createOrReplaceTempView('territories')
t1 =spark.sql('select * from territories where regionid = 1')
t1.show()
print(t1.count())

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
|      27511|         Cary|       1|
|      40222|   Louisville|       1|
+-----------+-------------+--------+

19

In [12]:
territories.write.saveAsTable('Territories2', mode='overwrite')
spark.sql('create table Territories3 as select * from territories')

In [13]:
rt = spark.sql('select r.regionid, r.regionname, t.territoryid, t.territoryname from regions as r join territories as t on r.regionid = t.regionid order by r.regionid, t.territoryid')
rt.show()

+--------+----------+-----------+---------------+
|regionid|regionname|territoryid|  territoryname|
+--------+----------+-----------+---------------+
|       1|   Eastern|      01581|       Westboro|
|       1|   Eastern|      01730|        Bedford|
|       1|   Eastern|      01833|      Georgetow|
|       1|   Eastern|      02116|         Boston|
|       1|   Eastern|      02139|      Cambridge|
|       1|   Eastern|      02184|      Braintree|
|       1|   Eastern|      02903|     Providence|
|       1|   Eastern|      06897|         Wilton|
|       1|   Eastern|      07960|     Morristown|
|       1|   Eastern|      08837|         Edison|
|       1|   Eastern|      10019|       New York|
|       1|   Eastern|      10038|       New York|
|       1|   Eastern|      11747|       Mellvile|
|       1|   Eastern|      14450|       Fairport|
|       1|   Eastern|      19713|         Neward|
|       1|   Eastern|      20852|      Rockville|
|       1|   Eastern|      27403|     Greensboro|
|       1|   Eastern|      27511|           Cary|
|       1|   Eastern|      40222|     Louisville|
|       2|   Western|      60179|Hoffman Estates|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [14]:
categories = spark.read.json('/home/student/ROI/SparkProgram/datasets/northwind/JSON/categories')
print(categories)
categories.show()
categories.createOrReplaceTempView('categories')

DataFrame[categoryid: bigint, categoryname: string, description: string, picture: string]
+----------+--------------+--------------------+-------+
|categoryid|  categoryname|         description|picture|
+----------+--------------+--------------------+-------+
|         1|     Beverages|Soft drinks, coff...|   null|
|         2|    Condiments|Sweet and savory ...|   null|
|         3|   Confections|Desserts, candies...|   null|
|         4|Dairy Products|             Cheeses|   null|
|         5|Grains/Cereals|Breads, crackers,...|   null|
|         6|  Meat/Poultry|      Prepared meats|   null|
|         7|       Produce|Dried fruit and b...|   null|
|         8|       Seafood|    Seaweed and fish|   null|
+----------+--------------+--------------------+-------+

In [15]:
spark.sql('select * from categories').show()

+----------+--------------+--------------------+-------+
|categoryid|  categoryname|         description|picture|
+----------+--------------+--------------------+-------+
|         1|     Beverages|Soft drinks, coff...|   null|
|         2|    Condiments|Sweet and savory ...|   null|
|         3|   Confections|Desserts, candies...|   null|
|         4|Dairy Products|             Cheeses|   null|
|         5|Grains/Cereals|Breads, crackers,...|   null|
|         6|  Meat/Poultry|      Prepared meats|   null|
|         7|       Produce|Dried fruit and b...|   null|
|         8|       Seafood|    Seaweed and fish|   null|
+----------+--------------+--------------------+-------+

In [ ]:
! pip install mysql-connector-python

In [16]:
import mysql.connector
try:
    cn = mysql.connector.connect(host='localhost', user='test', password='password')
    cursor = cn.cursor()
    cursor.execute('create database if not exists northwind')
    cn.close()

    cn = mysql.connector.connect(host='localhost', user='test', password='password', database='northwind')
    cursor = cn.cursor()    
    cursor.execute('drop table if exists regions')
    cn.close()
except:
    print('something went wrong')
else:
    print('success')

succes

In [17]:
regions.write.format("jdbc").options(url="jdbc:mysql://localhost/northwind", driver='com.mysql.jdbc.Driver', dbtable='regions', user='test', password = "password", mode = "append", useSSL = "false").save()

In [19]:
regions2 = spark.read.format("jdbc").options(url="jdbc:mysql://localhost/northwind", driver="com.mysql.jdbc.Driver", dbtable= "regions", user="test", password="password").load()
regions2.show()

+--------+----------+
|regionid|regionname|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
|       5|New Region|
+--------+----------+

In [20]:
print(spark.sql('select count(*) from regions').collect())
spark.sql('select * from regions').count()

[Row(count(1)=4)]

4

In [21]:
t1 = spark.sql('select TerritoryID, UPPER(TerritoryName) as TerritoryName, RegionID from territories')
t1.show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     WESTBORO|       1|
|      01730|      BEDFORD|       1|
|      01833|    GEORGETOW|       1|
|      02116|       BOSTON|       1|
|      02139|    CAMBRIDGE|       1|
|      02184|    BRAINTREE|       1|
|      02903|   PROVIDENCE|       1|
|      03049|       HOLLIS|       3|
|      03801|   PORTSMOUTH|       3|
|      06897|       WILTON|       1|
|      07960|   MORRISTOWN|       1|
|      08837|       EDISON|       1|
|      10019|     NEW YORK|       1|
|      10038|     NEW YORK|       1|
|      11747|     MELLVILE|       1|
|      14450|     FAIRPORT|       1|
|      19428| PHILADELPHIA|       3|
|      19713|       NEWARD|       1|
|      20852|    ROCKVILLE|       1|
|      27403|   GREENSBORO|       1|
+-----------+-------------+--------+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import expr, udf
from pyspark.sql.types import *

t2 = spark.sql('select * from territories')
t2.printSchema()
#t2.show()
t2 = t2.withColumn('upperName', expr('UPPER(TerritoryName)'))
t2.show(5)

t2 = t2.withColumn('titleName', udf(lambda x : x.title(), StringType())(t2.upperName))
t2.show(5)

root
 |-- TerritoryID: string (nullable = true)
 |-- TerritoryName: string (nullable = true)
 |-- RegionID: string (nullable = true)

+-----------+-------------+--------+---------+
|TerritoryID|TerritoryName|RegionID|upperName|
+-----------+-------------+--------+---------+
|      01581|     Westboro|       1| WESTBORO|
|      01730|      Bedford|       1|  BEDFORD|
|      01833|    Georgetow|       1|GEORGETOW|
|      02116|       Boston|       1|   BOSTON|
|      02139|    Cambridge|       1|CAMBRIDGE|
+-----------+-------------+--------+---------+
only showing top 5 rows

+-----------+-------------+--------+---------+---------+
|TerritoryID|TerritoryName|RegionID|upperName|titleName|
+-----------+-------------+--------+---------+---------+
|      01581|     Westboro|       1| WESTBORO| Westboro|
|      01730|      Bedford|       1|  BEDFORD|  Bedford|
|      01833|    Georgetow|       1|GEORGETOW|Georgetow|
|      02116|       Boston|       1|   BOSTON|   Boston|
|      02139|    Cambridge|       1|CAMBRIDGE|Cambridge|
+-----------+-------------+--------+---------+---------+
only showing top 5 rows

In [25]:
def reverse(x):
    return x[::-1]

spark.udf.register('reverse', reverse, StringType())

spark.sql('select *, reverse(TerritoryName) as Reversed from Territories').orderBy('Reversed').show()

+-----------+-------------+--------+------------+
|TerritoryID|TerritoryName|RegionID|    Reversed|
+-----------+-------------+--------+------------+
|      90405| Santa Monica|       2|acinoM atnaS|
|      29202|     Columbia|       4|    aibmuloC|
|      19428| Philadelphia|       3|aihpledalihP|
|      33607|        Tampa|       4|       apmaT|
|      95054|  Santa Clara|       2| aralC atnaS|
|      30346|      Atlanta|       4|     atnaltA|
|      48075|   Southfield|       3|  dleifhtuoS|
|      98052|      Redmond|       2|     dnomdeR|
|      44122|    Beachwood|       3|   doowhcaeB|
|      19713|       Neward|       1|      draweN|
|      01730|      Bedford|       1|     drofdeB|
|      02903|   Providence|       1|  ecnedivorP|
|      02184|    Braintree|       1|   eertniarB|
|      02139|    Cambridge|       1|   egdirbmaC|
|      85251|   Scottsdale|       2|  eladsttocS|
|      11747|     Mellvile|       1|    elivlleM|
|      55113|    Roseville|       3|   ellivesoR|
|      20852|    Rockville|       1|   ellivkcoR|
|      72716|  Bentonville|       4| ellivnotneB|
|      40222|   Louisville|       1|  ellivsiuoL|
+-----------+-------------+--------+------------+
only showing top 20 rows

In [27]:
tr1 = spark.sql("SELECT RegionID, collect_set(TerritoryName) AS TerritoryList FROM Territories GROUP BY RegionID")

tr1.show()
tr1.printSchema()
print(tr1.take(1))

+--------+--------------------+
|RegionID|       TerritoryList|
+--------+--------------------+
|       3|[Bloomfield Hills...|
|       1|[Mellvile, George...|
|       4|[Austin, Columbia...|
|       2|[Scottsdale, Sant...|
+--------+--------------------+

root
 |-- RegionID: string (nullable = true)
 |-- TerritoryList: array (nullable = true)
 |    |-- element: string (containsNull = true)

[Row(RegionID='3', TerritoryList=['Bloomfield Hills', 'Troy', 'Portsmouth', 'Hollis', 'Racine', 'Findlay', 'Southfield', 'Roseville', 'Minneapolis', 'Beachwood', 'Philadelphia'])]

In [28]:

sql = """SELECT r.RegionID, r.RegionName
, COLLECT_SET(NAMED_STRUCT("TerritoryID", TerritoryID, "TerritoryName", TerritoryName)) AS TerritoryList
FROM Regions AS r
JOIN Territories AS t ON r.RegionID = t.RegionID
GROUP BY r.RegionID, r.RegionName
ORDER BY r.RegionID"""

#tr2 = spark.sql("SELECT RegionID, COLLECT_SET(NAMED_STRUCT('TerritoryID', TerritoryID, 'TerritoryName', TerritoryName)) AS TerritoryList FROM Territories GROUP BY RegionID")
tr2 = spark.sql(sql)
tr2.printSchema()
tr2.show()
print(tr2.take(2))

root
 |-- RegionID: integer (nullable = true)
 |-- RegionName: string (nullable = true)
 |-- TerritoryList: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- TerritoryID: string (nullable = true)
 |    |    |-- TerritoryName: string (nullable = true)

+--------+----------+--------------------+
|RegionID|RegionName|       TerritoryList|
+--------+----------+--------------------+
|       1|   Eastern|[[27511, Cary], [...|
|       2|   Western|[[60179, Hoffman ...|
|       3|  Northern|[[45839, Findlay]...|
|       4|  Southern|[[75234, Dallas],...|
+--------+----------+--------------------+

[Row(RegionID=1, RegionName='Eastern', TerritoryList=[Row(TerritoryID='27511', TerritoryName='Cary'), Row(TerritoryID='07960', TerritoryName='Morristown'), Row(TerritoryID='02184', TerritoryName='Braintree'), Row(TerritoryID='11747', TerritoryName='Mellvile'), Row(TerritoryID='01581', TerritoryName='Westboro'), Row(TerritoryID='14450', TerritoryName='Fairport'), Row(TerritoryID='20852', TerritoryName='Rockville'), Row(TerritoryID='10038', TerritoryName='New York'), Row(TerritoryID='02903', TerritoryName='Providence'), Row(TerritoryID='02116', TerritoryName='Boston'), Row(TerritoryID='06897', TerritoryName='Wilton'), Row(TerritoryID='19713', TerritoryName='Neward'), Row(TerritoryID='40222', TerritoryName='Louisville'), Row(TerritoryID='27403', TerritoryName='Greensboro'), Row(TerritoryID='08837', TerritoryName='Edison'), Row(TerritoryID='01833', TerritoryName='Georgetow'), Row(TerritoryID='01730', TerritoryName='Bedford'), Row(TerritoryID='10019', TerritoryName='New York'), Row(TerritoryID='02139', TerritoryName='Cambridge')]), Row(RegionID=2, RegionName='Western', TerritoryList=[Row(TerritoryID='60179', TerritoryName='Hoffman Estates'), Row(TerritoryID='94025', TerritoryName='Menlo Park'), Row(TerritoryID='95054', TerritoryName='Santa Clara'), Row(TerritoryID='98104', TerritoryName='Seattle'), Row(TerritoryID='90405', TerritoryName='Santa Monica'), Row(TerritoryID='98004', TerritoryName='Bellevue'), Row(TerritoryID='85014', TerritoryName='Phoenix'), Row(TerritoryID='95060', TerritoryName='Santa Cruz'), Row(TerritoryID='98052', TerritoryName='Redmond'), Row(TerritoryID='60601', TerritoryName='Chicago'), Row(TerritoryID='94105', TerritoryName='San Francisco'), Row(TerritoryID='80909', TerritoryName='Colorado Springs'), Row(TerritoryID='95008', TerritoryName='Campbell'), Row(TerritoryID='80202', TerritoryName='Denver'), Row(TerritoryID='85251', TerritoryName='Scottsdale')])]

In [33]:
tr1.createOrReplaceTempView('RegionTerritories')
sql = """SELECT RegionID, TerritoryName
FROM RegionTerritories
LATERAL VIEW EXPLODE(TerritoryList) EXPLODED_TABLE AS TerritoryName
"""
spark.sql(sql).show()

+--------+----------------+
|RegionID|   TerritoryName|
+--------+----------------+
|       3|Bloomfield Hills|
|       3|            Troy|
|       3|      Portsmouth|
|       3|          Hollis|
|       3|          Racine|
|       3|         Findlay|
|       3|      Southfield|
|       3|       Roseville|
|       3|     Minneapolis|
|       3|       Beachwood|
|       3|    Philadelphia|
|       1|        Mellvile|
|       1|       Georgetow|
|       1|        Fairport|
|       1|       Cambridge|
|       1|          Neward|
|       1|            Cary|
|       1|          Boston|
|       1|       Rockville|
|       1|        Westboro|
+--------+----------------+
only showing top 20 rows

In [29]:
tr2.createOrReplaceTempView('RegionTerritories')
spark.sql("select RegionId, RegionName, TerritoryList[0] as Terr1, TerritoryList[2] as Terr2 from RegionTerritories").show()

+--------+----------+--------------------+--------------------+
|RegionId|RegionName|               Terr1|               Terr2|
+--------+----------+--------------------+--------------------+
|       1|   Eastern|       [27511, Cary]|  [02184, Braintree]|
|       2|   Western|[60179, Hoffman E...|[95054, Santa Clara]|
|       3|  Northern|    [45839, Findlay]|[55439, Minneapolis]|
|       4|  Southern|     [75234, Dallas]|    [30346, Atlanta]|
+--------+----------+--------------------+--------------------+

In [30]:
sql = """SELECT RegionID, RegionName, Territory.TerritoryID AS TerritoryID
, Territory.TerritoryName AS TerritoryName
FROM RegionTerritories
LATERAL VIEW EXPLODE(TerritoryList) EXPLODED_TABLE AS Territory
"""
spark.sql(sql).show()

+--------+----------+-----------+---------------+
|RegionID|RegionName|TerritoryID|  TerritoryName|
+--------+----------+-----------+---------------+
|       1|   Eastern|      27511|           Cary|
|       1|   Eastern|      07960|     Morristown|
|       1|   Eastern|      02184|      Braintree|
|       1|   Eastern|      11747|       Mellvile|
|       1|   Eastern|      01581|       Westboro|
|       1|   Eastern|      14450|       Fairport|
|       1|   Eastern|      20852|      Rockville|
|       1|   Eastern|      10038|       New York|
|       1|   Eastern|      02903|     Providence|
|       1|   Eastern|      02116|         Boston|
|       1|   Eastern|      06897|         Wilton|
|       1|   Eastern|      19713|         Neward|
|       1|   Eastern|      40222|     Louisville|
|       1|   Eastern|      27403|     Greensboro|
|       1|   Eastern|      08837|         Edison|
|       1|   Eastern|      01833|      Georgetow|
|       1|   Eastern|      01730|        Bedford|
|       1|   Eastern|      10019|       New York|
|       1|   Eastern|      02139|      Cambridge|
|       2|   Western|      60179|Hoffman Estates|
+--------+----------+-----------+---------------+
only showing top 20 rows