Open a terminal window and run the following commands
sudo bash
start-hadoop
cd /home/student/ROI/SparkProgram/Day3
./fixhive.sh

Let's make a simple hive table for regions\

In [ ]:
! hive -i /home/student/ROI/SparkProgram/Day3/regions.hql

In [1]:
import sys
sys.path.append('/home/student/ROI/SparkProgram')
from initspark import *
sc, spark, conf = initspark()

In [2]:
regions = spark.sql('select * from regions')
regions.show()

+--------+----------+
|regionid|regionname|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
+--------+----------+

In [3]:
print(regions)

DataFrame[regionid: int, regionname: string]

In [5]:
territories = spark.read.csv('/home/student/ROI/SparkProgram/datasets/northwind/CSVHeaders/territories', header=True)
territories.show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      03049|       Hollis|       3|
|      03801|   Portsmouth|       3|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19428| Philadelphia|       3|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
+-----------+-------------+--------+
only showing top 20 rows

In [9]:
territories.createOrReplaceTempView('territories')
t1 =spark.sql('select * from territories where regionid = 1')
t1.show()
print(t1.count())

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
|      27511|         Cary|       1|
|      40222|   Louisville|       1|
+-----------+-------------+--------+

19

In [13]:
rt = spark.sql('select r.regionid, r.regionname, t.territoryid, t.territoryname from regions as r join territories as t on r.regionid = t.regionid order by r.regionid, t.territoryid')
rt.show()

+--------+----------+-----------+---------------+
|regionid|regionname|territoryid|  territoryname|
+--------+----------+-----------+---------------+
|       1|   Eastern|      01581|       Westboro|
|       1|   Eastern|      01730|        Bedford|
|       1|   Eastern|      01833|      Georgetow|
|       1|   Eastern|      02116|         Boston|
|       1|   Eastern|      02139|      Cambridge|
|       1|   Eastern|      02184|      Braintree|
|       1|   Eastern|      02903|     Providence|
|       1|   Eastern|      06897|         Wilton|
|       1|   Eastern|      07960|     Morristown|
|       1|   Eastern|      08837|         Edison|
|       1|   Eastern|      10019|       New York|
|       1|   Eastern|      10038|       New York|
|       1|   Eastern|      11747|       Mellvile|
|       1|   Eastern|      14450|       Fairport|
|       1|   Eastern|      19713|         Neward|
|       1|   Eastern|      20852|      Rockville|
|       1|   Eastern|      27403|     Greensboro|
|       1|   Eastern|      27511|           Cary|
|       1|   Eastern|      40222|     Louisville|
|       2|   Western|      60179|Hoffman Estates|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [18]:
employees = spark.read.json('/home/student/ROI/SparkProgram/datasets/northwind/JSON/employees')
print(employees)
employees.show()
employees.createOrReplaceTempView('employees')

DataFrame[address: string, birthdate: string, city: string, country: string, employeeid: bigint, extension: string, firstname: string, hiredate: string, homephone: string, lastname: string, notes: string, photo: string, photopath: string, postalcode: string, region: string, reportsto: bigint, title: string, titleofcourtesy: string]
+--------------------+----------+--------+-------+----------+---------+---------+----------+--------------+---------+--------------------+-----+--------------------+----------+------+---------+--------------------+---------------+
|             address| birthdate|    city|country|employeeid|extension|firstname|  hiredate|     homephone| lastname|               notes|photo|           photopath|postalcode|region|reportsto|               title|titleofcourtesy|
+--------------------+----------+--------+-------+----------+---------+---------+----------+--------------+---------+--------------------+-----+--------------------+----------+------+---------+--------------------+---------------+
|507 - 20th Ave. E...|1948-12-08| Seattle|    USA|         1|     5467|    Nancy|1992-05-01|(206) 555-9857|  Davolio|Education include...|   \x|http://accweb/emm...|     98122|    WA|        2|Sales Representative|            Ms.|
|  908 W. Capital Way|1952-02-19|  Tacoma|    USA|         2|     3457|   Andrew|1992-08-14|(206) 555-9482|   Fuller|Andrew received h...|   \x|http://accweb/emm...|     98401|    WA|     null|Vice President, S...|            Dr.|
|  722 Moss Bay Blvd.|1963-08-30|Kirkland|    USA|         3|     3355|    Janet|1992-04-01|(206) 555-3412|Leverling|Janet has a BS de...|   \x|http://accweb/emm...|     98033|    WA|        2|Sales Representative|            Ms.|
|4110 Old Redmond Rd.|1937-09-19| Redmond|    USA|         4|     5176| Margaret|1993-05-03|(206) 555-8122|  Peacock|Margaret holds a ...|   \x|http://accweb/emm...|     98052|    WA|        2|Sales Representative|           Mrs.|
|     14 Garrett Hill|1955-03-04|  London|     UK|         5|     3453|   Steven|1993-10-17| (71) 555-4848| Buchanan|Steven Buchanan g...|   \x|http://accweb/emm...|   SW1 8JR|  null|        2|       Sales Manager|            Mr.|
|Coventry House\nM...|1963-07-02|  London|     UK|         6|      428|  Michael|1993-10-17| (71) 555-7773|   Suyama|Michael is a grad...|   \x|http://accweb/emm...|   EC2 7JR|  null|        5|Sales Representative|            Mr.|
|Edgeham Hollow\nW...|1960-05-29|  London|     UK|         7|      465|   Robert|1994-01-02| (71) 555-5598|     King|Robert King serve...|   \x|http://accweb/emm...|   RG1 9SP|  null|        5|Sales Representative|            Mr.|
|4726 - 11th Ave. ...|1958-01-09| Seattle|    USA|         8|     2344|    Laura|1994-03-05|(206) 555-1189| Callahan|Laura received a ...|   \x|http://accweb/emm...|     98105|    WA|        2|Inside Sales Coor...|            Ms.|
|   7 Houndstooth Rd.|1966-01-27|  London|     UK|         9|      452|     Anne|1994-11-15| (71) 555-4444|Dodsworth|Anne has a BA deg...|   \x|http://accweb/emm...|   WG2 7LT|  null|        5|Sales Representative|            Ms.|
|                null|      null|    null|   null|      null|     null|     null|      null|          null|     null|                null| null|                null|      null|  null|     null|                null|           null|
+--------------------+----------+--------+-------+----------+---------+---------+----------+--------------+---------+--------------------+-----+--------------------+----------+------+---------+--------------------+---------------+

In [19]:
spark.sql('select distinct region from employees').show()

AnalysisException: 'Table or view not found: employees; line 1 pos 28'