**HOMEWORK:**
In the /home/student/ROI/SparkProgram/datasets/finance folder are two files:
top50banks.tsv is tab separated
countrycodes.json is a json file
Using these two files, create an alphabetical list of countries and show the sum, min and max of their total assets and find the country with the most assets and what that amount is.

In [1]:
import sys
sys.path.append('/home/student/ROI/SparkProgram')
from initspark import *
sc, spark, conf = initspark()

In [2]:
b = spark.read.csv('/home/student/ROI/SparkProgram/datasets/finance/top50banks.tsv', header=True, sep = '\t', inferSchema=True)
c = spark.read.json('/home/student/ROI/SparkProgram/datasets/finance/countrycodes.json')
b.printSchema()
c.printSchema()
j = b.join(c, b.countrycode == c.ID).select('bank', 'Country', 'total_assets_us_b')
from pyspark.sql.functions import expr
g = j.groupby('Country')
#g1 = g.agg(F.sum('total_assets_us_b'), F.min('total_assets_us_b'), F.max('total_assets_us_b'))
g1 = g.agg(expr("sum(total_assets_us_b) as Total"), expr("min(total_assets_us_b) as Min"), expr("max(total_assets_us_b) as Max"))
g1.sort('Country').show()
g1.sort('Total', ascending=False).select('Country', 'Total').take(1)

root
 |-- rank: integer (nullable = true)
 |-- bank: string (nullable = true)
 |-- countrycode: integer (nullable = true)
 |-- total_assets_us_b: string (nullable = true)
 |-- balance_sheet: string (nullable = true)

root
 |-- Country: string (nullable = true)
 |-- ID: long (nullable = true)

+-----------+------------------+--------+--------+
|    Country|             Total|     Min|     Max|
+-----------+------------------+--------+--------+
|  Australia|          2678.136| 604.935| 743.871|
|     Canada|          2511.029| 665.286| 941.293|
|      China|          4329.798|1,231.95|  904.22|
|     France|            782.37|1,323.76|  782.37|
|    Germany|              null|1,672.27|1,672.27|
|      Italy|          1731.893| 790.271| 941.622|
|      Japan|           957.372|1,769.54| 957.372|
| Luxembourg|           612.616| 612.616| 612.616|
|Netherlands|1653.4499999999998| 707.842| 945.608|
|      Spain|           768.607|1,444.85| 768.607|
|     Sweden|            694.95|  694.95|  694.95|
|Switzerland|           1720.83| 811.622| 909.208|
|         UK|            1624.1|1,020.01| 977.408|
|        USA|           1726.46|1,821.64| 894.069|
+-----------+------------------+--------+--------+

[Row(Country='China', Total=4329.798)]