In [2]:
import sys
sys.path.append('/home/student/ROI/SparkProgram')
from initspark import *
sc, spark, conf = initspark()

**LAB:** Use the regions and territories RDDs from the previous lab and convert them into  dataframes with meaningful schemas.

In [6]:
regions = sc.textFile('hdfs://localhost:9000/regions')
regions = regions.map(lambda x : x.split(',')).map(lambda x : (int(x[0]), x[1]))
regionsdf = regions.toDF('RegionID:int, RegionName:string')
regionsdf.show()

+--------+----------+
|RegionID|RegionName|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
+--------+----------+

In [7]:
territories = sc.textFile('hdfs://localhost:9000/territories')
territories = territories.map(lambda x : x.split(',')).map(lambda x : (int(x[0]), x[1], int(x[2])))
territoriesdf = territories.toDF('TerritoryID:int, TerritoryName:string, RegionID: int')
territoriesdf.show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|       1581|     Westboro|       1|
|       1730|      Bedford|       1|
|       1833|    Georgetow|       1|
|       2116|       Boston|       1|
|       2139|    Cambridge|       1|
|       2184|    Braintree|       1|
|       2903|   Providence|       1|
|       3049|       Hollis|       3|
|       3801|   Portsmouth|       3|
|       6897|       Wilton|       1|
|       7960|   Morristown|       1|
|       8837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19428| Philadelphia|       3|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
+-----------+-------------+--------+
only showing top 20 rows

**LAB:** Using the df3 dataframe answer the following questions:
How many Platinum card purchases where there with a discount above $100
Find the ten biggest discount amounts earned by women and show just the purchase amount, discount and date

In [8]:
print(df3.where("CardType = 'Platinum' and Discount > 100").count())
df3.where("Gender = 'F'").orderBy('Amount', ascending = False).select('Amount', 'Discount', 'Date').take(10)

+--------+----------+-----------+-------------+--------+
|RegionID|RegionName|TerritoryID|TerritoryName|RegionID|
+--------+----------+-----------+-------------+--------+
|       1|   Eastern|       1581|     Westboro|       1|
|       1|   Eastern|       1730|      Bedford|       1|
|       1|   Eastern|       1833|    Georgetow|       1|
|       1|   Eastern|       2116|       Boston|       1|
|       1|   Eastern|       2139|    Cambridge|       1|
|       1|   Eastern|       2184|    Braintree|       1|
|       1|   Eastern|       2903|   Providence|       1|
|       1|   Eastern|       6897|       Wilton|       1|
|       1|   Eastern|       7960|   Morristown|       1|
|       1|   Eastern|       8837|       Edison|       1|
|       1|   Eastern|      10019|     New York|       1|
|       1|   Eastern|      10038|     New York|       1|
|       1|   Eastern|      11747|     Mellvile|       1|
|       1|   Eastern|      14450|     Fairport|       1|
|       1|   Eastern|      19713|       Neward|       1|
|       1|   Eastern|      20852|    Rockville|       1|
|       1|   Eastern|      27403|   Greensboro|       1|
|       1|   Eastern|      27511|         Cary|       1|
|       1|   Eastern|      40222|   Louisville|       1|
|       3|  Northern|       3049|       Hollis|       3|
+--------+----------+-----------+-------------+--------+
only showing top 20 rows

NameError: name 'df3' is not defined

**LAB:** Read the Products file from the JSON folder and categories from ths CSVHeaders folder, then join them displaying just the product and category IDs and names, and sort by categoryID then productID. 

Hint. drop the ambiguous column after the join

In [9]:
products = spark.read.json('/home/student/ROI/SparkProgram/datasets/northwind/JSON/products')
#products.show()
products.printSchema()

categories = spark.read.csv('/home/student/ROI/SparkProgram/datasets/northwind/CSVHeaders/categories', header = True, inferSchema = True)
#categories.show()
categories.printSchema()

c = categories
p = products
c.join(p, c.CategoryID == p.categoryid).drop(p.categoryid).select('CategoryID', 'CategoryName', 'productid', 'productname').orderBy('categoryid', 'productid').show()

root
 |-- categoryid: long (nullable = true)
 |-- discontinued: long (nullable = true)
 |-- productid: long (nullable = true)
 |-- productname: string (nullable = true)
 |-- quantityperunit: string (nullable = true)
 |-- reorderlevel: long (nullable = true)
 |-- supplierid: long (nullable = true)
 |-- unitprice: double (nullable = true)
 |-- unitsinstock: long (nullable = true)
 |-- unitsonorder: long (nullable = true)

root
 |-- CategoryID: integer (nullable = true)
 |-- CategoryName: string (nullable = true)
 |-- Description: string (nullable = true)

+----------+------------+---------+--------------------+
|CategoryID|CategoryName|productid|         productname|
+----------+------------+---------+--------------------+
|         1|   Beverages|        1|                Chai|
|         1|   Beverages|        2|               Chang|
|         1|   Beverages|       24|  Guarana Fantastica|
|         1|   Beverages|       34|       Sasquatch Ale|
|         1|   Beverages|       35|      Steeleye Stout|
|         1|   Beverages|       38|       Cote de Blaye|
|         1|   Beverages|       39|    Chartreuse verte|
|         1|   Beverages|       43|         Ipoh Coffee|
|         1|   Beverages|       67|Laughing Lumberja...|
|         1|   Beverages|       70|       Outback Lager|
|         1|   Beverages|       75|Rhonbrau Klosterbier|
|         1|   Beverages|       76|        Lakkalikoori|
|         2|  Condiments|        3|       Aniseed Syrup|
|         2|  Condiments|        4|Chef Anton's Caju...|
|         2|  Condiments|        5|Chef Anton's Gumb...|
|         2|  Condiments|        6|Grandma's Boysenb...|
|         2|  Condiments|        8|Northwoods Cranbe...|
|         2|  Condiments|       15|        Genen Shouyu|
|         2|  Condiments|       44|        Gula Malacca|
|         2|  Condiments|       61|      Sirop d'erable|
+----------+------------+---------+--------------------+
only showing top 20 rows